h1,h2,p,td{ 
color:green;
font size:40px;
background-colour: lightblue;
}
.text-center { 
text-align:center;
}
#rounded-img{ border-radius:30px;
}
table,td,th{
border: 2px dashed #A0F412;
background-colour: #fff;
}
body{ 
background-image:url("images/arcul.jpg");
}
